[user]
  	name = "J Mondy"
    username = j-mondy
    email = 555757183+j-mondy@users.noreply.github.com

[color]
    ui = auto

[alias]
    # TODO: alias shorthand commands

[core]
	editor = nvim

[merge]
  tool = meld
[mergetool "meld"]
  cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"

# Enforce SSH
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
[url "ssh://git@gitlab.com/"]
  insteadOf = https://gitlab.com/
[url "ssh://git@bitbucket.org/"]
  insteadOf = https://bitbucket.org/

[advice]
	addIgnoredFile = false

[init]
	defaultBranch = main

[pull]
	rebase = false
[diff]
	tool = meld
[difftool "meld"]
	cmd = meld \"$LOCAL\" \"$REMOTE\"
